body {
    margin: 15px auto;
    max-width: 650px;
    line-height: 1.2;
    font-family: sans-serif;
    font-size: 2em;
    color: #fff;
    background: #543;
}

p.owner {
    line-height: 1.3;
    font-family: serif;
    font-size: 1em;
}

a {
    color: yellowgreen;
}
