  :root {
    --grey: #888888;
    --white: #bbbbbb;
    --black: #222222;
    --true: 1;
    --false: 0;
    --state: var(--false);
  }
  
  * {
    color: var(--fontColor);
    font-family: helvetica;
  }
  
  body {
      margin: 15px auto;
      max-width: 700px;
      background: var(--bg);
  }

  img{
    filter: invert(90%);
  }

ul {
    font-family: helvetica;
}

li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
  }
  
  #msg {
    font-family: monospace;
  }
  
  .light-theme {
    --bg: var(--white);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--grey);
    --state: var(--false);
  }
  
  .dark-theme {
    --bg: var(--black);
    --fontColor: var(--white);
    --btnBg: var(--white);
    --btnFontColor: var(--grey);
    --state: var(true);
  }

  .btn {
    top: 20px;
    left: 400px;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
  }

  .btn:focus { outline-style: none; }