  :root {
    --grey: #888888;
    --white: #bbbbbb;
    --black: #222222;
    --state: 0;
  }
  
  * {
    color: var(--fontColor);
    font-family: helvetica;
  }
  
  body {
      margin: 15px auto;
      max-width: 700px;
      background: var(--bg);
  }

  #txt {
    position: relative;
    top: 300px;
    left: 410px;
  }

  h1 {
    position: relative;
    left: 20px;
    bottom: 305px;
  }

  div.heading {
    height: 250px;
    background: rgb(100, 98, 109);
  }

  p.tagline {
    position: relative;
    left: 20px;
    bottom: 170px;
    font-size: 1.5em;
  }

  p.date {
    background: gray;
    color: white;
    width: 150px;;
    text-decoration-style: double;
  }

  img{
    filter: invert(var(--state));
  }

  img.heading {
    position: relative;
    left: 400px;
    bottom: 10px;
    filter: invert(var(--state));
  }

  hr {
    border: 2px solid var(--grey);
    border-radius: 2px;
  }

ul {
    font-family: helvetica;
}

li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
  }
  
  #msg {
    font-family: monospace;
  }
  
  .light-theme {
    --bg: var(--white);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--grey);
    --state: 0;
  }
  
  .dark-theme {
    --bg: var(--black);
    --fontColor: var(--white);
    --btnBg: var(--white);
    --btnFontColor: var(--grey);
    --state: 1;
  }

  .btn {
    position: relative;
    left: 310px;
    bottom: 110px;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
    filter: invert(var(--state));
  }

  .btn:focus { outline-style: none; }