  :root {
    --grey: #888888;
    --white: #bbbbbb;
    --black: #222222;
    --state: 0;
  }
  
  * {
    color: var(--fontColor);
    font-family: helvetica;
  }
  
  body {
      margin: 15px auto;
      max-width: 700px;
      background: var(--bg);
  }

  div {
    background: gray;
    height: 150px;
  }

  img{
    filter: invert(var(--state));
  }

ul {
    font-family: helvetica;
}

li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
  }
  
  #msg {
    font-family: monospace;
  }
  
  .light-theme {
    --bg: var(--white);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--grey);
    --state: 0;
  }
  
  .dark-theme {
    --bg: var(--black);
    --fontColor: var(--white);
    --btnBg: var(--white);
    --btnFontColor: var(--grey);
    --state: 1;
  }

  .btn {
    position: absolute;
    top: 25px;
    left: 680px;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
    filter: invert(var(--state));
  }

  .btn:focus { outline-style: none; }